---
import Hero from "../components/sections/hero.astro";
import Footer from "../components/sections/footer.astro";
import FlexColLayout from "../layouts/FlexColLayout.astro";
import Showcase from "../components/sections/showcase.astro";
import Cta from "../components/sections/cta.astro";

import ClauImage from "../assets/image/clau.png";
import CervantImage from "../assets/image/cervant.png";
---

<FlexColLayout title="Delfos - Soluciones inteligentes para tu negocio">
  <Hero />
  <div id="products" class="w-full flex flex-col items-center justify-center gap-8">
    <Showcase
      bigText="<span class='font-bold'>Cervant</span>, redefine la atención al cliente desde una plataforma inteligente."
      smallText="Tus clientes escriben por <span class='font-bold'>WhatsApp, Instagram y Telegram</span> a la vez. Con <span class='font-bold'>Cervant</span>, centralizas todo en un solo panel, priorizas conversaciones, das contexto a tu equipo y detectas oportunidades en tiempo real. Conexión omnicanal, simple y poderosa."
      imageSrc={CervantImage}
      imageAlt="Imagen de Cervant"
      textSide="right"
      buttonLink="https://cervant.chat"
      buttonText="Conoce Cervant"
      buttonColor="bg-[#ffbe06] hover:bg-yellow-500"
      buttonTextColor="text-black"
    />
  
    <Showcase
      bigText="<span class='font-bold'>Clau</span>, facilidades reales para tu empresa, todo en un solo lugar."
      smallText="Clau, es una suite digital compuesta por apps móviles y un panel web centralizado. Cada herramienta está diseñada para cubrir necesidades específicas de negocios modernos: desde la gestión de clientes hasta el seguimiento de envíos, reservas o turnos. Todo con control total, en tiempo real."
      imageSrc={ClauImage}
      imageAlt="Imagen de Clau"
      textSide="left"
      buttonLink="https://clau.one"
      buttonText="Conoce Clau"
      buttonColor="bg-[#549dfd] hover:bg-blue-500"
      buttonTextColor="text-white"
      
    />
  </div>

  <Cta />
  <Footer />

  <style>
    /* smooth scroll */
    html {
      scroll-behavior: smooth;
    }
  </style>
</FlexColLayout>
